<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mon_arms/forearm_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{74,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{74,94}}</string>
                <key>sourceSize</key>
                <string>{84,108}</string>
            </dict>
            <key>mon_arms/forearm_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,299},{89,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{89,68}}</string>
                <key>sourceSize</key>
                <string>{99,78}</string>
            </dict>
            <key>mon_arms/hand_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{92,75}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{92,75}}</string>
                <key>sourceSize</key>
                <string>{110,117}</string>
            </dict>
            <key>mon_arms/hand_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{92,75}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{92,75}}</string>
                <key>sourceSize</key>
                <string>{110,117}</string>
            </dict>
            <key>mon_arms/hand_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,150},{94,77}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{94,77}}</string>
                <key>sourceSize</key>
                <string>{110,117}</string>
            </dict>
            <key>mon_arms/hand_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{96,79}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{96,79}}</string>
                <key>sourceSize</key>
                <string>{110,117}</string>
            </dict>
            <key>mon_arms/hand_a_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,363},{64,91}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{64,91}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>mon_arms/hand_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,229},{68,93}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{68,93}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>mon_arms/hand_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{68,97}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{68,97}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>mon_arms/hand_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,82},{66,97}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{66,97}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>mon_arms/shoulder_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{102,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{102,78}}</string>
                <key>sourceSize</key>
                <string>{114,94}</string>
            </dict>
            <key>mon_arms/shoulder_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,105}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{55,105}}</string>
                <key>sourceSize</key>
                <string>{71,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mon_arms.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bf9710b17fb5d1b93ff024369d8a6be$</string>
            <key>textureFileName</key>
            <string>mon_arms.png</string>
        </dict>
    </dict>
</plist>
