<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1_chest_0/abs_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{27,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{27,23}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>p1_chest_0/abs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,45},{24,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{24,16}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>p1_chest_0/chest_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{41,43}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>p1_chest_0/chest_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{40,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{40,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_chest_0.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2ce283073754c379745c081c9db7d7f$</string>
            <key>textureFileName</key>
            <string>p1_chest_0.png</string>
        </dict>
    </dict>
</plist>
