<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1_forearms_0/fist.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,98},{20,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,18}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>p1_forearms_0/fist_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,58},{29,25}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{29,25}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>p1_forearms_0/forearm_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{24,39}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{24,39}}</string>
                <key>sourceSize</key>
                <string>{44,61}</string>
            </dict>
            <key>p1_forearms_0/forearm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,61},{27,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{27,25}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>p1_forearms_0/forearm_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,28},{37,31}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{37,31}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>p1_forearms_0/forearm_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{33,36}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{33,36}}</string>
                <key>sourceSize</key>
                <string>{39,52}</string>
            </dict>
            <key>p1_forearms_0/forearm_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,28},{29,28}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{29,28}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>p1_forearms_0/forearm_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,33}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{40,33}}</string>
                <key>sourceSize</key>
                <string>{52,39}</string>
            </dict>
            <key>p1_forearms_0/forearm_nohand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{24,27}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{24,27}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>p1_forearms_0/hand_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{24,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>p1_forearms_0/swordhand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{24,39}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{24,39}}</string>
                <key>sourceSize</key>
                <string>{44,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_forearms_0.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76245dad4622c409a5ee05755c07e004$</string>
            <key>textureFileName</key>
            <string>p1_forearms_0.png</string>
        </dict>
    </dict>
</plist>
