<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1_head_0/hair_walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,195},{58,51}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,36},{58,51}}</string>
                <key>sourceSize</key>
                <string>{96,99}</string>
            </dict>
            <key>p1_head_0/hair_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,53},{58,49}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,38},{58,49}}</string>
                <key>sourceSize</key>
                <string>{96,99}</string>
            </dict>
            <key>p1_head_0/hair_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{58,49}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,38},{58,49}}</string>
                <key>sourceSize</key>
                <string>{96,99}</string>
            </dict>
            <key>p1_head_0/head_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,104},{51,51}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,39},{51,51}}</string>
                <key>sourceSize</key>
                <string>{77,99}</string>
            </dict>
            <key>p1_head_0/head_0a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{63,61}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,29},{63,61}}</string>
                <key>sourceSize</key>
                <string>{77,99}</string>
            </dict>
            <key>p1_head_0/head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,104},{46,49}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,45},{46,49}}</string>
                <key>sourceSize</key>
                <string>{96,99}</string>
            </dict>
            <key>p1_head_0/head_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{58,57}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,38},{58,57}}</string>
                <key>sourceSize</key>
                <string>{96,99}</string>
            </dict>
            <key>p1_head_0/head_HIT.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,63}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{63,63}}</string>
                <key>sourceSize</key>
                <string>{77,99}</string>
            </dict>
            <key>p1_head_0/head_HIT_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{63,61}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,29},{63,61}}</string>
                <key>sourceSize</key>
                <string>{77,99}</string>
            </dict>
            <key>p1_head_0/idle_blink_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,197},{55,39}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,35},{55,39}}</string>
                <key>sourceSize</key>
                <string>{77,99}</string>
            </dict>
            <key>p1_head_0/idle_blink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{23,11}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,64},{23,11}}</string>
                <key>sourceSize</key>
                <string>{77,99}</string>
            </dict>
            <key>p1_head_0/idle_hair_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,132},{61,49}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{61,49}}</string>
                <key>sourceSize</key>
                <string>{77,99}</string>
            </dict>
            <key>p1_head_0/idle_hair_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{63,49}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,30},{63,49}}</string>
                <key>sourceSize</key>
                <string>{77,99}</string>
            </dict>
            <key>p1_head_0/idle_hair_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,67},{63,49}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,29},{63,49}}</string>
                <key>sourceSize</key>
                <string>{77,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_head_0.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45120a30c7215adebbeead994b16c748$</string>
            <key>textureFileName</key>
            <string>p1_head_0.png</string>
        </dict>
    </dict>
</plist>
