<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1_pants_0/leg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{29,37}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{29,37}}</string>
                <key>sourceSize</key>
                <string>{37,59}</string>
            </dict>
            <key>p1_pants_0/leg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{32,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{32,30}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>p1_pants_0/leg_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,42}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{24,42}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>p1_pants_0/leg_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{24,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{24,38}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>p1_pants_0/pelvis_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,54},{32,21}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{32,21}}</string>
                <key>sourceSize</key>
                <string>{52,39}</string>
            </dict>
            <key>p1_pants_0/pelvis_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,88},{26,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{26,22}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_pants_0.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b57a331ef11b334e0e5ac6209a2d0456$</string>
            <key>textureFileName</key>
            <string>p1_pants_0.png</string>
        </dict>
    </dict>
</plist>
