<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1_sheild_0/shield_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{52,94}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>p1_sheild_0/shield_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{48,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{48,86}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_sheild_0.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32a1ba757da823d31c84f0ef99cf766e$</string>
            <key>textureFileName</key>
            <string>p1_sheild_0.png</string>
        </dict>
    </dict>
</plist>
